@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    } 

    100% {
        background-position: 0% 0%;
    }
}

.custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); 
    transition: box-shadow 0.3s ease; 
}

@font-face {
    font-family: 'StrangeTales';
    src: url('fontStyle/Strange Tales.ttf') format('truetype'); 
}

.custom-font {
    font-family: 'StrangeTales', cursive;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.animated-background {
    background: linear-gradient(to left, #2352b8, #4682B4);
    background-size: 200% 100%;
    animation: gradientMove 10s linear infinite;
}

.animated-banner {
    background: linear-gradient(to top left, #dc3101, #ffdbb9);
    background-size: 200% 100%;
    animation: gradientMove 5s ease-in-out infinite;
    height: 100px;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .navbar {
    background-color: #1a1a1a;
    color: white;
}

body.dark-mode .navbar a {
    color: #f0f0f0;
}

body.light-mode .navbar {
    background-color: #f8f9fa;
    color: black;
}

body.light-mode .navbar a {
    color: #000;
}

.navbar-toggler {
    background-color: #4682B4; 
    border: none; 
}

.navbar-toggler:focus {
    outline: none; 
}
