body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.header {
    background: linear-gradient(to right, #0457dd, #720cb6); 
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.header img {
    width: 300px;
    height: auto;
    margin-right: 10px;
}
.container {
    display: flex;
    padding: 20px;
    background-color: white;
}
.image-placeholder {
    width: 400px;
    height: auto;
    background-color: #0074bc6f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.image-placeholder img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.text-content {
    margin-left: 20px;
}
.text-content h1 {
    margin: 0;
    font-size: 24px;
    font-family: Georgia, serif;
}
.text-content .date {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.text-content p {
    margin: 10px 0;
    line-height: 1.6;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

.specifications-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.specifications {
    background-color: #9fcefa;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
}

.specifications h2 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.more-info {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center; 
    width: 100%; 
}

.more-info a {
    color: #0457dd;
    text-decoration: underline;
}